<html>
<body>
<h2 align="center">Book Details</h2>
<form action="" method="POST">
<table align="center">
<tr>
<td><strong>BookID</strong> : </td>
<td><input type="text" name="bookid"/></td>
</tr>
<tr>
<td><strong>Title</strong> : </td>
<td><input type="text" name="title"/></td>
</tr>
<tr>
<td><strong>Category</strong> : </td>
<td><input type = "radio" name = "category" value = "TextBook" checked="checked" /> Text Book
   <input type = "radio" name = "category" value = "ReferenceBook" /> Reference Book</td>
 </tr>
 <tr>
<td><strong>Publisher</strong> : </td>
<td><select name = "publisher">
      <option value = "BPB" selected>BPB Publications</option>
      <option value = "TMH">Tata McGrow Hills</option>
	  <option value = "Packt">Packt Publishers</option>
	  <option value = "Pearson">Pearson Publishers</option>
   </select>   </td>
   </tr>
<tr>   
<td><strong>Price</strong> : </td>
<td><input type="text" name="price"/></td>
</tr>
<tr>
<td><input type="submit" value="Submit"/></td>
</tr>
</table>
</form>
</body>
</html>

