<head>
  <title>My WebPage</title>
  <link rel="stylesheet" href="table.css">
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Marks</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Kiran</td>
        <td>76</td>
        <td>Pass</td>
      </tr>
      <tr>
        <td>Abdulla</td>
        <td>33</td>
        <td>Fail</td>
      </tr>
      <tr>
        <td>Sameer</td>
        <td>67</td>
        <td>Pass</td>
      </tr>
      <tr>
        <td>Zeenat</td>
        <td>51</td>
        <td>Pass</td>
      </tr>
    </tbody>
  </table>
</body>
