<!doctype html>
<html>
<body style="background-image: url({{bgfile+'.png'}});background-repeat: no-repeat;
    background-attachment: fixed;  background-size: cover;">
<h2>Choose background pattern</h2>
<form action="\newbg" method="POST">
<h3><input type="radio" name="bgi" value="white" checked>white</h3>
<h3><input type="radio" name="bgi" value="grey">grey</h3>
<h3><input type="radio" name="bgi" value="vstripes">vertical stripes</h3>
<h3><input type="radio" name="bgi" value="hstripes">horizontal stripes</h3>
<br>
<input type="submit" value="change">
</body>
</html>
